*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


# IntelliJ IDEA files
.idea/

# Build outputs
/build/
out/

# OS-specific files
*.log
*.tmp

# Optional: Add any other local config files not relevant to the team
